
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It's C Time!">
    <meta name="author" content="Ben and Dave">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>It's C Time!</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/codemirror/codemirror.css" rel="stylesheet">
    <link href="/static/site.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-orange navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">It's C Time!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Start!</a></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chapters <b class="caret"></b></a>
              <ul class="dropdown-menu" id="chapters-menu">
              </ul>
            </li>
            <li><a href="#contact">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container site-main">

      <div class="lead-container">
        <h1>It's C Time!</h1>
        <p class="lead">So here we'll build the site and stuff I guess</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="chapter" id="page-content">
          </div>
          <hr>
        </div>

        <div class="col-md-6 code-column">

<textarea id="code-editor">
#include &lt;stdio.h&gt;

int main(int argc, char *argv[]) {
   printf("Hello World!\n");
   return 0;
}

</textarea>

        </div>
      </div>

    </div><!-- /.container -->

    <div class="footer">
      Obligatory massive footer
    </div>

    <script src="/static/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/showdown/showdown.js"></script>
    <script src="/static/showdown/extensions/twitter.js"></script>
    <script src="/static/codemirror/codemirror.js"></script>
    <script src="/static/codemirror/clike/clike.js"></script>
    <script src="/static/site.js"></script>
  </body>
</html>
