<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeMirror: C-like mode</title>
    <link rel="stylesheet" href="http://codemirror.net/2/lib/codemirror.css">
    <script src="http://codemirror.net/2/lib/codemirror.js"></script>
    <script src="http://codemirror.net/2/mode/clike/clike.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://codemirror.net/2/doc/docs.css">
    <style>.CodeMirror {border: 2px inset #dee;}</style>
  </head>
  <body>
    <h1>Writing in C, Write in C, Write in C</h1>

<form><textarea id="code" name="code">
/* C demo code */
#include <stdio.h>
#include <stdlib.h>

int main() {
    printf("Hello World\n");
    return 0;
}

</textarea></form>

<button onclick="submit_code()">Compile Code</button>
<div id="result">
</div>

    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csrc"
    });

    function submit_code() {
        $.ajax({
            type: "POST",
            url: "http://powerful-eyrie-7882.herokuapp.com/api/code/submit",
            // The key needs to match your method's input parameter (case-sensitive).
            data: JSON.stringify({code: editor.getValue() }),
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
                // Evaluate.
                eval(data['result']);
                // Run the respective program
                $('#result').text(Program({}).run().stdout);
            },
            failure: function(errMsg) {
            alert(errMsg);
        }}); 
    }

    </script>

  </body>
</html>
